* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  height: calc(100vh- 4rem);
  background: #2f2f33;
  height: 100vh;
  position: relative;
}
body * {
  font-family: "Roboto", sans-serif;
}

header {
  max-width: 70rem;
  max-height: 43rem;
  margin: 0 auto;
}
header {
  height: 3rem;
  /* background-color: bisque; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.search {
  max-width: 40rem;
  width: 40rem;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.search input,
.search button {
  height: 48px;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.search input {
  max-width: 462rem;
  width: 462px;
  height: 48px;
  padding: 16px;
  background: #06181c;
  color: #fff;
}
.search button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  word-spacing: 3px;;
  width: 170px;
  gap: 8px;
  background-color: #065e7c;
  cursor: pointer;
}
.search button:hover svg path ,
.search button:hover {
  background-color: #eef3f5;
  color: #065e7c;
  fill:#065e7c;
}


#app {
  margin: 0 auto;
  max-width: 70rem;
  border-radius: 0.4rem;
  max-height: 615px;
  border: 1px solid #4a808c;
  border-radius: 0.4rem;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  position: absolute;
  width: 6px;

  border-radius: 10px;
  right: -20px;
  z-index: 2;

}

::-webkit-scrollbar-track {
  position: absolute;
  width: 6px;
  border-radius: 10px;
  /* background: #4a808c46; */
  background: #06181C;
  z-index: 2;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 1266px;
  top: 320px;
  background: #4a808c;
  border-radius: 10px;
  right: -20px;
  z-index: 2;
}
::-webkit-scrollbar-thumb:hover{
  background: #456c75;
}

table {
  border-radius: 12px;
  width: 100%;
  border-collapse: collapse;
  max-height: 500px;
}

table * {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
}

table th {
  height: 64px;
  padding: 0 40px;
}
table thead tr th {
  text-align: left;
  background-color: #092d38;
}
table th:first-child {
  border-top-left-radius: 0.4rem;
}
table th:last-child {
  border-top-right-radius: 0.4rem;
}
table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.4rem;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.4rem;
}

table tr td:nth-child(1) {
  max-width: 504px;
}
table tr td:nth-child(2),
table tr td:nth-child(3) {
  max-width: 219px;
  padding: 0 60px;
}
table tr td:nth-child(4) {
  max-width: 178px;
}

table tbody tr:nth-child(odd) td {
  background: rgba(6, 22, 27, 0.5);
  border-top: 1px solid #4a808c;
}
table tbody tr:nth-child(even) td {
  background-color: #092d38;
  border-top: 1px solid #4a808c;
}
table tbody tr td {
  padding: 1rem 0.5rem
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
td.user a {
  text-decoration: none;
  /* display: flex;
  gap:1rem */
}
td.user a p {
  font-weight: bold;
}
td.user a span {
  font-weight: normal;
}
td.user a span:before {
  content: "/";
}
td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff7c
}
td.user img:hover{
 transform: scale(1.3);
 margin-left:1rem;
 transition: 200ms;
 cursor: pointer;
}

td .remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
